<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="resources/styles.css">
    <title>xcced3</title>
</head>
<body>
    <header>
        <h1 class="heading">xcced3</h1>
    </header>

    <main>
        <canvas id="visualizer" height="210" width="210"></canvas>
        <button class="start-button">Start</button>
        <p class="response"></p>
    </main>

    <script src="resources/script.js"></script>
</body>
</html>